Temp/*
Library/*
obj/*
*.csproj
*.userprefs
*.sln
*.vs/*
*.vscode/*
UnityPackageManager/*
Assets/Res/Prefab/*
Assets/Res/Prefab*
Assets/StreamingAssets/Windows/*
Assets/StreamingAssets/Windows*
Assets/StreamingAssets/iOS/*
Assets/StreamingAssets/iOS*
Assets/StreamingAssets/Android/*
Assets/StreamingAssets/Android*
Assets/XLua*